cloudevents>=1.11.0,<2.0.0
dapr-agents[observability]>=0.10.5
dapr-ext-fastapi>=1.16.0rc2
dapr-ext-grpc>=1.16.0rc2
dapr-ext-workflow>=1.16.0rc2
dapr>=1.16.0rc2
debugpy>=1.8.0
flask>=2.3.0
grpcio>=1.75.1
gtts>=2.5.0
msal>=1.23.0
pydantic>=2.11.3,<3.0.0
python-dotenv>=1.1.1,<2.0.0
requests>=2.32.4,<3.0.0
tzlocal>=5.0.0
